{% extends 'partials/baseall.html' %}
{% load static %}
{% block contentall %}
    <!-- Menu Sidebar Section Start -->
    <div class="menu-sidebar-area ">
        <div class="menu-sidebar-wrapper">
            <div class="menu-sidebar-close">
                <button class="menu-sidebar-close-btn" id="menu_sidebar_close_btn">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="menu-sidebar-content">
                <div class="menu-sidebar-logo">
                    <a href="index-2.html" class="standard-logo">
                        <img src="{% static 'images/logo/footer_logo.png' %}" alt="logo" />
                    </a>
                </div>
                <div class="mobile-nav-menu fix"></div>
            </div>
        </div>
    </div>
    <!-- Menu Sidebar Section End -->

    <!-- Menu Sidebar Overlay -->
    <div class="body-overlay"></div>

    <!-- Page Header Area Start !-->
    <div class="page-header-area style-1">
        <div class="custom-container">
            <div class=" page-breadcrumb-sec" style="background-image: url({% static 'images/breadcrumb/about.jpg' %})">
                <div class="breadcrumb-shape"></div>
                <div class="page-overlay"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-wrapper">
                            <div class="breadcrumb-list">
                                <ul>
                                    <li><a href="index-2.html">Home</a></li>
                                    <li class="active">
                                        <a href="#">Case Study Details</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="page-heading">
                                <h1>Solve your problem by <br/> Strategic process</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Area End !-->

    <!--Project-page project-section start -->
    <div class="project-details-info">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="project-info-widget-wrapper">
                        <div class="project-info-widget">
                            <div class="project-info-sketch" style="background-image: url({% static 'images/shape/image-card-sketch.png' %})"></div>
                            <div class="info-item">
                                <h5>Case Study Name</h5>
                                <p>Digital Campaign</p>
                            </div>
                            <div class="info-item">
                                <h5>Our Client</h5>
                                <p>Charles David</p>
                            </div>
                            <div class="info-item">
                                <h5>Category</h5>
                                <p>Digital Marketing</p>
                            </div>
                            <div class="info-item">
                                <h5>Date</h5>
                                <p>April 25, 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                    <h3>Project Scope</h3>
                    <p class="mt-40">Lorem ipsum dolor sit amet consectetur. Morbi pellentesque blandit at nec accumsan. Tincidunt nulla metus integer
                    tristique integer eu nisi sagittis. Nibh aliquet ut tortor donec odio in massa in. Adipiscing ut sed elit nibh quis
                    molestie dignissim augue.</p>
                    <p class="mt-12">Lorem ipsum dolor sit amet consectetur. At sit elit rhoncus quis sit posuere turpis elit. Ornare maecenas sit turpis
                    gravida elit gravida pharetra vitae tincidunt. Scelerisque nibh mattis urna sed nunc posuere nibh at. Magnis suspendisse
                    cras porttitor.</p>
                    <div class="project-banner mt-20">
                        <p>The project scope will also involve redesigning the company's website to improve its user experience, increase
                        engagement, and boost for friendly conversions.</p>
                    </div>
                    <p class="mt-36">Inspired Studio will work closely with the client to ensure that the website's design is aligned with the company's
                    brand identity and goals, and that it incorporates the latest web design best practices.</p>
                    <p
                        class="mt-16">Finally, the project sco  pe will involve creating a comprehensive marketing plan that will include social media advertising, email marketing campaigns, and SEO optimization to increase the company's visibility and reach among its target audience.</p>
                </div>
            </div>
            <div class="project-details-gallery">
                <div class="row">
                    <div class="col-6">
                        <img class="tilt-animate" src="{% static 'images/project-details/image-1.jpg' %}" alt="project" />
                    </div>
                    <div class="col-6">
                        <img class="tilt-animate" src="{% static 'images/project-details/image-2.jpg' %}" alt="project" />
                    </div>
                    <div class="col-lg-12 mt-24">
                        <img src="{% static 'images/hero/service-details.jpg' %}" alt="project" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Project-page project-section end -->
    <div class="color-card-section">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="color-card-one"></div>
                </div>
                <div class="col-3">
                    <div class="color-card-two"></div>
                </div>
                <div class="col-3">
                    <div class="color-card-three"></div>
                </div>
                <div class="col-3">
                    <div class="color-card-four"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- about us section -->
    <div class="project-details-about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="project-text-banner">
                        <p>Lorem ipsum dolor sit amet consectetur. Netus nunc phasellus odio enim. The consulting firm ac id quam vitae lorem ut
                        ultrices felis sapien. Sit platea orci adipiscing sed duis nulla porta augue nulla. Fames dignissim leo sapien mattis
                        phasellus feugiat nascetur fermentum.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="video-banner video-popup-card style-two">
                        <div class="video-popup-btn style-two">
                            <a href="https://www.youtube.com/watch?v=SZEflIVnhH8" class="mfp-iframe video-play">
                                <i class="fa-solid fa-play" aria-hidden="true"></i>
                            </a>
                        </div>
                        <img src="{% static 'images/breadcrumb/about.jpg' %}" alt="video" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

    <!-- Project Details Start -->
    <div class="project-details-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="number-card-wrapper">
                        <div class="row">
                            <div class="col-12 col-md-6 ">
                                <div class="number-card mb-24">
                                    <h4 class="number-card-title">6 months</h4>
                                    <p class="number-card-desc">Project scope</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 ">
                                <div class="number-card mb-24">
                                    <h4 class="number-card-title">200+</h4>
                                    <p class="number-card-desc">Testers</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 ">
                                <div class="number-card mb-24 mb-lg-0">
                                    <h4 class="number-card-title">x20</h4>
                                    <p class="number-card-desc">Improved NPS score</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 ">
                                <div class="number-card mb-24 mb-lg-0">
                                    <h4 class="number-card-title">10/10</h4>
                                    <p class="number-card-desc">Satisfied customers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Proccess</h3>
                    <p class="mt-40">To kick off the project, the team at consaltip began by conducting user research to understand the needs and behaviors
                    of XYZ Company's target audience. Based on this research, they created personas and user journeys to inform the design
                    process. <br>
                    Next, the team at Inspired Studio worked on developing a design system for XYZ Company.</p>
                    <div class="project-banner style-two mt-40 ">
                        <p>
                            This included defining the brand's visual identity, typography, and color palette.
                        </p>
                    </div>
                    <h5 class="mt-48">
                        Bringing design to life
                    </h5>
                    <p class="mt-24">Using this design system as a guide, the team designed wireframes and high-fidelity mockups for the website's user
                    interface (UI).</p>
                    <p class="mt-24">Once the UI design was finalized, the team at Inspired Studio used Webflow to bring the design to life. They developed custom interactions and animations to enhance the user experience (UX) and ensure that the website was visually appealing and easy to navigate.
                    </p>
                    <p class="mt-24">
                        Throughout the project, the team at Inspired Studio worked closely with the team at XYZ Company to ensure that the end
                        result met their needs and expectations. The final product was a beautifully designed website that accurately
                        represented XYZ Company's brand and effectively met the needs of their target audience.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Details End  -->
    <!-- Gallery-slider start -->
    <div class="project-image-gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img src="{% static 'images/case-details/left.jpg' %}" alt="" />
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'images/case-details/middle.jpg' %}" alt="" />
                </div>
                <div class="col-lg-3">
                    <img src="{% static 'images/case-details/right.jpg' %}" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery-slider end -->
    <!-- More-case-studies section start -->
    <div class="py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title style-three">
                        <h2 class="title"> <span class="under-line style-two"> More Case </span> Studies</h2>
                        <div class="theme-btn-wrapper">
                            <a href="#" class="theme-btn style-three">
                                All Case Studies
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="portfolio-card style-two ">
                        <div class="portfolio-image">
                            <img src="{% static 'images/case-studies-home-2/Image.png' %}" alt="" />
                        </div>
                        <div class="content">
                            <a href="{% url 'project_details' %}">
                                <div class="icon">
                                    <i class="icon-arrow-right-2"></i>
                                </div>
                            </a>
                            <a href="{% url 'project_details' %}">
                                <h4>We can blend consult multiple ways</h4>
                            </a>
                            <p>We are lorem ipsum dolor sit amet consectetur. Mauris integer at vestibulum at vitae tellus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-6 mt-24 mt-lg-0">
                    <div class="portfolio-card style-two">
                        <div class="portfolio-image">
                            <img src="{% static 'images/case-studies-home-2/case-studies-2.png' %}" alt="" />
                        </div>
                        <div class="content">
                            <a href="{% url 'project_details' %}">
                                <div class="icon">
                                    <i class="icon-arrow-right-2"></i>
                                </div>
                            </a>
                            <a href="{% url 'project_details' %}">
                                <h4>Deliver joy and optimism in every bite</h4>
                            </a>
                            <p>Consaltip lorem ipsum dolor sit amet consectetur. Maecenas eget eget care sed ut arcu cras mattis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- More-case-studies section end -->
{% endblock  %}