{% extends 'partials/baseall.html' %}
{% load static %}
{% block contentall %}
<!-- Menu Sidebar Section Start -->
    <div class="menu-sidebar-area ">
        <div class="menu-sidebar-wrapper">
            <div class="menu-sidebar-close">
                <button class="menu-sidebar-close-btn" id="menu_sidebar_close_btn">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="menu-sidebar-content">
                <div class="menu-sidebar-logo">
                    <a href="index-2.html" class="standard-logo">
                        <img src="{% static 'images/logo/footer_logo.png' %}" alt="logo" />
                    </a>
                </div>
                <div class="mobile-nav-menu fix"></div>
            </div>
        </div>
    </div>
    <!-- Menu Sidebar Section End -->

    <!-- Menu Sidebar Overlay -->
    <div class="body-overlay"></div>
    <!-- Page Header Area Start !-->
    {% comment %} <div class="page-header-area style-1">
        <div class="custom-container">
            <div class=" page-breadcrumb-sec" style="background-image: url({% static 'images/breadcrumb/about.jpg' %})">
                <div class="breadcrumb-shape"></div>
                <div class="page-overlay"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-wrapper">
                            <div class="breadcrumb-list">
                                <ul>
                                    <li><a href="index-2.html">Home</a></li>
                                    <li class="active">
                                        <a href="#">Service Details</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="page-heading">
                                <h1>We provide optimize <br/> marketing services</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- Page Header Area End !-->

    <!-- Service Details Area Start -->
    <div class="service-details-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <div class="section-title">
                        <h2 class="title text-start">Best Marketing Services</h2>
                        <p class="desc text-start">Lorem ipsum dolor sit amet consectetur. Porttitor pretium cursus orci sapien sed. Leo elementum sem placerat faucibus
                        pulvinar amet. Fermentum sed a ac orci scelerisque. Quam et consectetur fermentum purus in. Mollis integer lectus
                        sagittis egestas sodales pellentesque consectetur sed. Sapien ac nec eu porta fringilla volutpat mattis. In est elit
                        egestas pellentesque. Malesuada magna viverra mattis adipiscing congue.</p>
                    </div>
                </div>
                <div class="col-lg-6 mt-48">
                    <div class="service-details-image">
                        <img src="{% static 'images/service-details/Image-left.jpg' %}" alt="service" />
                    </div>
                </div>
                <div class="col-lg-6 mt-48">
                    <div class="service-details-image">
                        <img src="{% static 'images/service-details/Image-right.jpg' %}" alt="service" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="service-details-offer mt-48 mb-48">
                        <h3 class="title">We Offer The Benefits</h3>
                        <p class="desc">Lorem ipsum dolor sit amet consectetur. Imperdiet aenean eu a et ullamcorper massa quam. Id ac mattis consectetur
                        habitant suspendisse vivamus est netus. Enim volutpat faucibus sit enim mus pulvinar eget viverra. Pellentesque donec
                        nulla justo ante magna suspendisse viverra blandit. Sit convallis non nam sit.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4">
                    <div class="list-item-wrapper style-two mb-lg-0 mb-16">
                        <div class="list-item style-two">
                            <div class="icon">
                                <i class="icon-check"></i>
                            </div>
                            <p class="text">Lorem ipsum dolor consectetur.</p>
                        </div>
                        <div class="list-item style-two">
                            <div class="icon">
                                <i class="icon-check"></i>
                            </div>
                            <p class="text">Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="list-item style-two">
                            <div class="icon">
                                <i class="icon-check"></i>
                            </div>
                            <p class="text">Lorem ipsum dolor sit amet advantage.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4 px-10 p-lg-0">
                    <div class="list-item-wrapper style-two mb-lg-0 mb-16">
                        <div class="list-item style-two">
                            <div class="icon">
                                <i class="icon-check"></i>
                            </div>
                            <p class="text">Lorem ipsum dolor consectetur.</p>
                        </div>
                        <div class="list-item style-two">
                            <div class="icon">
                                <i class="icon-check"></i>
                            </div>
                            <p class="text">Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="list-item style-two">
                            <div class="icon">
                                <i class="icon-check"></i>
                            </div>
                            <p class="text">Lorem ipsum dolor sit amet advantage.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4 mt-lg-4 mt-xl-0">
                    <div class="list-item-wrapper style-two mb-lg-0 mb-16">
                        <div class="list-item style-two">
                            <div class="icon">
                                <i class="icon-check"></i>
                            </div>
                            <p class="text">Lorem ipsum dolor consectetur.</p>
                        </div>
                        <div class="list-item style-two">
                            <div class="icon">
                                <i class="icon-check"></i>
                            </div>
                            <p class="text">Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="list-item style-two">
                            <div class="icon">
                                <i class="icon-check"></i>
                            </div>
                            <p class="text">Lorem ipsum dolor sit amet advantage.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service Details Area Start -->

    <!-- Why Choose Us Area Start -->
    <div class="why-choose-us-area style-4">
        <div class="service-details-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="image-card style-three image-card-spacing">
                        <div class="content">
                            <div class="title-wrapper">
                                <h2 class="title text-white">Strategy for every stage <br> in the client's journey</h2>
                                <p class="desc text-white">Lorem ipsum dolor sit amet consectetur. Nulla volutpat et tristique vitae. Est elementum dignissim elit egestas massa.
                                              Condimentum tincidunt varius quis viverra in enim fermentum.</p>
                            </div>
                            <div class="list-item-wrapper">
                                <div class="list-item">
                                    <div class="icon">
                                        <i class="icon-check"></i>
                                    </div>
                                    <p class="text text-white">Automated reports</p>
                                </div>
                                <div class="list-item">
                                    <div class="icon">
                                        <i class="icon-check"></i>
                                    </div>
                                    <p class="text text-white">Realtime analytics</p>
                                </div>
                                <div class="list-item">
                                    <div class="icon">
                                        <i class="icon-check"></i>
                                    </div>
                                    <p class="text text-white">Funnel optimization</p>
                                </div>
                            </div>
                            <div class="mt-24">
                                <a href="#" class="theme-btn image-card-btn style-four"><span>Get started</span></a>
                            </div>
                        </div>
                        <div class="image">
                            <a href="https://www.youtube.com/watch?v=SZEflIVnhH8" class="mfp-iframe video-play">
                                <div class="certified">
                                    <i class="fa-solid fa-play" aria-hidden="true"></i>
                                    <div class="rounded-text rotating">
                                        <svg viewBox="0 0 200 200">
                                            <path id="textPath" d="M 85,0 A 85,85 0 0 1 -85,0 A 85,85 0 0 1 85,0"
                                                transform="translate(100,100)" fill="none" stroke-width="0">
                                            </path>
                                            <g font-size="22px">
                                                <text text-anchor="start">
                                                    <textPath class="coloring" xlink:href="#textPath" startOffset="0%">
                                                        consaltip * consaltip * consaltip *
                                                    </textPath>
                                                </text>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <img class="tilt-animate" src="{% static 'images/common/home-why-choose.jpg' %}" alt="choose-us" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us Area End -->

    <!-- FAQ Area Start -->
    <div class="faq-area style-1">
        <div class="shape-one" style=" background-image: url({% static 'images/shape/Rectangle.png' %})"></div>
        <div class="shape-two" style=" background-image: url({% static 'images/shape/shape-2.png' %})"></div>
        <div class="sketch" style="background: url({% static 'images/sketch-color.png' %})"></div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-12">
                    <div class="section-title style-three align-items-center align-items-lg-start">
                        <h2 class="title">Frequently Ask Question</h2>
                        <div class="theme-btn-wrapper">
                            <a href="contact.html" class="theme-btn">
                                Get in Touch
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="accordion-wrapper" id="faq1">
                        <!-- Single Accordion Start -->
                        <div class="accordion-list-item">
                            <div id="headingOne">
                                <div class="accordion-head" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h3 class="accordion-title">1. Do you have examples of past case results?</h3>
                                </div>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faq1">
                                <div class="accordion-item-body">
                                    <p>Lorem ipsum dolor sit amet consectetur. Netus cursus purus faucibus blandit project discussion elit faucibus potenti cum tempus non. Tortor id morbi velit mollis aliquet.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Accordion End -->
                        <!-- Single Accordion Start -->
                        <div class="accordion-list-item">
                            <div id="headingTwo">
                                <div class="accordion-head collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h3 class="accordion-title">2. How can I become a partner?</h3>
                                </div>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faq1">
                                <div class="accordion-item-body">
                                    <p>Porem ipsum dolor sit amet consectetur. Netus cursus purus faucibus blandit project discussion elit faucibus potenti cum tempus non. Tortor id morbi velit mollis Uliquet.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Accordion End -->
                        <!-- Single Accordion Start -->
                        <div class="accordion-list-item">
                            <div id="headingThree">
                                <div class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h3 class="accordion-title">3. How can i get involved?</h3>
                                </div>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faq1">
                                <div class="accordion-item-body">
                                    <p>Qorem ipsum dolor sit amet consectetur. Netus cursus purus faucibus blandit project discussion elit faucibus potenti cum tempus non. Tortor id morbi velit mollis Pliquet.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Accordion End -->
                        <!-- Single Accordion Start -->
                        <div class="accordion-list-item">
                            <div id="headingFour">
                                <div class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <h3 class="accordion-title">4. How much will it cost?</h3>
                                </div>
                            </div>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faq1">
                                <div class="accordion-item-body">
                                    <p>Rorem ipsum dolor sit amet consectetur. Netus cursus purus faucibus blandit project discussion elit faucibus potenti cum tempus non. Tortor id morbi velit mollis tliquet.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Accordion End -->
                        <!-- Single Accordion Start -->
                        <div class="accordion-list-item">
                            <div id="headingFive">
                                <div class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <h3 class="accordion-title">5. Who can i contact for further information?</h3>
                                </div>
                            </div>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faq1">
                                <div class="accordion-item-body">
                                    <p>Borem ipsum dolor sit amet consectetur. Netus cursus purus faucibus blandit project discussion elit faucibus potenti cum tempus non. Tortor id morbi velit mollis yliquet.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Accordion End -->
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="post-comments-form">
                        <div class="comment-respond">
                            <div class="post-comments-title">
                                <p class="sub-title">Get more updates</p>
                                <h5>Send Us a Message</h5>
                            </div>
                            <form action="{% url 'service_details' %}" class="comment-form" method="POST">
                                {% csrf_token %}
                                {% include 'details/form_fields.html' %}
                                {% if messages %}
                                <div class="alert alert-success">
                                  <ul>
                                    {% for message in messages %}
                                      <li>{{ message }}</li>
                                    {% endfor %}
                                  </ul>
                                </div>
                              {% endif %}
                              

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ Area End -->
    {% endblock  %}